{% extends 'navbar.html' %}
{% block content %}
 <div class="container">
     <div>
         <br>
         {% for message in messages %}
             <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong></button>
             </div>
         {% endfor %}

     </div>

<form method="POST"> {% csrf_token %}

  <div class="mb-3">
      <label>Username</label>
      <input type="text" class="form-control" name="username" id="username">
      </div>

   <div class="mb-3">
        <label>Email address</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label>Password</label>
    <input type="password" class="form-control" name="password1" id="Password1">
  </div>

    <div class="mb-3">
    <label>Conform Password</label>
    <input type="password" class="form-control" name="password2" id="Password2">
  </div>

    <label>Phone</label>
      <input type="text" class="form-control" name="phone" id="phone">

  <button type="submit" class="btn btn-success my-2">Submit</button>

</form>
 </div>

{% endblock %}